<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Avalon</title>
        <link href="style.css" rel="stylesheet" />
    </head>
    <body>
        <article id="landing" style="text-align: center">
            <p><h1>Avalon</h1></p>
            <p><button class="red">New Game</button></p>
        </article>
        <article id="new-game">
            <p>
                <h2>New Game</h2>
            </p>
            <form>
                <table>
                    <tr>
                        <td>
                            <label>Knights</label>
                        </td>
                        <td>
                            <input type="number" value=4 style="width: 4em" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Minions</label>
                        </td>
                        <td>
                            <!-- <input type="number" value=3 style="width: 4em"/> -->
                            <input type="checkbox" />
                        </td>
                    </tr>
                </table>
            </form>
        </article>
        <!-- <main>
            <article class="widget">
                <form action="http://localhost:3000/" method="POST">
                    <table style="width: 200px">
                        <tr>
                            <td>
                                <label>Knights</label>
                            </td>
                            <td>
                                <input name="knights" type="number" value=4 style="width: 3em; border-radius: .25em; border: 1px solid #ddd; padding: .5em 1em"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Minions</label>
                            </td>
                            <td>
                                <input name="minions" type="number" value=3 style="width: 3em; border-radius: .25em; border: 1px solid #ddd; padding: .5em 1em"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2 style="text-align: center">
                                <h6>Special Characters</h6>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Merlin</label>
                            </td>
                            <td>
                                <input type="checkbox" name="specials" value="Merlin" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Morgana</label>
                            </td>
                            <td>
                                <input type="checkbox" name="specials" value="Morgana" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Percival</label>
                            </td>
                            <td>
                                <input type="checkbox" name="specials" value="Percival" />
                            </td>
                        </tr>
                    </table>
                    <button
                </form>
            </article>
        </main> -->
    </body>
</html>
